.notif-dropdown {
    width: 100vw;
}

.verify-email-card {
    width: 100vw;
}

trix-toolbar [data-trix-button-group="file-tools"] {
    display: none !important;
}

#monthly-submissions, #status-counts, #category-counts {
    width: 100%;
    min-height: 300px;
    max-height: 100%;
}

@media (max-width: 768px) {
    #monthly-submissions, #status-counts, #category-counts {
        min-height: 250px;
    }
}

@media (min-width: 768px) {
    .notif-dropdown, .verify-email-card {
        width: 80vw;
    }
    .verify-email-card {
        width: 60vw;
    }
}

@media (min-width: 992px) {
    .notif-dropdown {
        width: 60vw;
    }
    .verify-email-card {
        width: 40vw;
    }
}
